/10th Marksheet School.jpg
/10th Marksheet.jpeg
/12 th Marksheet NEB.jpg
/12th Marksheet college.jpg
/1ST Sem.jpg
/2ND Sem.jpg
/3RD Sem.jpg
/CERTIFICATES_DETAILS.docx
/CERTIFICATES_DETAILS.pdf
/DETAILS OF GRADE NEB BOARD.jpg
/DETAILS.docx
/DUT_ISS team.jpg
/output
/PROJECT_HOSPITAL_MANAGEMENT.txt
/PROJECT_SUDOKU.txt
/SCHOLARSHIP CERTIFICATE.jpg
/Society Approval.pdf